:root {
         /* font-size  */
        --fs-sm: 11px;
        --fs-md: 16px;
        --fs-lg: 15.5px;
        --fs-xl: 20.16px;
        --fs-xxl: 27.04px;
    
         /* color  */
    
        --light-white: #FAF9FD;
        --dark-purple: #3B2E5D;
        --grey: #E9E6E5;
        --white: #2E2E2E;
        --purple: #D59DFF;
        --blue: #0067B8;
        --light-purple:#8661C5;
        --light-blk:#2E2E2E;
    }
       /* font-size */
    
    .fs-sm{
        font-size: var(--fs-sm);
    }
    .fs-md{
        font-size: var(--fs-md);
    }
    .fs-lg{
        font-size: var(--fs-lg);
    }
    .fs-xl{
        font-size: var(--fs-xl);
    }
    .fs-xxl{
        font-size: var(--fs-xxl);
    }

    /* colors */
    .light-white{
        color: var(--light-white);
    }
    .text_white{
        color: var(--white);
    }
    .dark-purple{
        color: var(--dark-purple);
    }
    .bg-gray{
       background-color:var(--grey);
    }
    .purple{
        color: var(--purple);
    }
    .blue{
        color: var(--blue);
    }
    .light-purple{
        color: var(--light-purple);
    }
    .light-blk{
        color: var(--light-blk);
    }

    .light-white-bg{
        background-color: var(--light-white);
    }
    .bg-purple{
        background-color: var(--purple);
    }

    @media (min-width:768px) {
        :root {
            /* font-size  */
           --fs-sm: 18px;
           --fs-md: 22px;
           --fs-lg: 22.5px;
           --fs-xl: 35.16px;
           --fs-xxl: 76.04px;      
          
       } 
        
    }
    